.ptitulo{
    font-size: 30px;
    color: rgb(0, 0,280);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
.presumo{
    font-size: 20px;
    color: rgb(0, 0,006);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.pautor{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ptexto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}